/* 1. don't modify this style */
@font-face {
  font-family: poppinsBold;
  src: url("..//assets/fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: poppinsRegular;
  src: url("..//assets/fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: Rubik;
  src: url("../assets/fonts/Rubik-Regular.ttf");
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body{
  width: 1440px;
  background-color: var(--blueGradiant);
}
:root {
  --black-700: #000;
  --blueGradiant: #3b2a9f;
  --primary-100: #5141aa;
  --secondary: #fa8305;
  --box_bg: #1c140f;
}

.elementOne {

  background-color: var(--black-700);
}



/* ------------------------------------------------------------------- */
.header{
  background-color: var(--blueGradiant);
  color: white;
  width: 1440px;
  text-decoration: none;
  height: 100px;
  /* position: fixed; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 565.52px;

  

}
#logo{
  position: absolute;
  top: 25px;
  left: 59px;
  font-size: 29px;
  width: 82px;
  height: 45px;
  font-family: poppinsBold;
  
  }

.navbar{
  position: absolute;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  gap: 88px;
  width: 505.41px;
  height: 24.2px;
  top:40px;
  left: 706.63px;
  list-style: none;
  font-family: poppinsRegular;
}

.nav-item{
  color: #fff;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
li a:active{
  text-decoration: underline;
}
li a:hover{
  font-size: 120%;
}


#nav-button{
  position: absolute;
  left: 1248.16px;
  top:32px;
  font-size: 16px;
  background-color: var(--secondary); 
  color: #ffffff; 
  width: 131.66px;
  height: 41.34px;
  padding: 12px 23px; 
  border: none; 
  
  border-radius: 6px; 

}
.rec-parent{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3px;
  width: 38.97px;

}
#rec1{
  width: 30.97px;
  background-color: var(--secondary);
  height: 4px;
  border-radius: 3px;
}
#rec2{
  width: 5px;
  height: 4px;
  background-color: var(--secondary);
  border-radius: 50%;
}
/* header^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

.sec1{
  font-family: poppinsRegular;
}
#line1{
  
  font-size: 20px;
  color: var(--secondary);
  font-weight: 700;
  line-height: 31px;
  position: absolute;
  top:203px;
  left: 147px;
}
#line2{
  
  font-size: 50px;
  color: #fff;
  line-height: 77.6px;
  position: absolute;
  top:251px;
  left: 147px;
  width: 479.63px;
  height: 234px;
}
#line3{
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  line-height: 32px;
  position: absolute;
  top:511px;
  left: 147px;
  width: 527px;
  height: 101pz;
}
#img1{
  position: absolute;
  left: 649px;
  top: 409px;
 
}
#img2{
  position: absolute;
  left: 828px;
  top: 202px;

}
#img3{
  position: absolute;
  left: 1168px;
  top: 201px;
}
#img4{
  position: absolute;
  left: 772px;
}

.sec1-btn{
  position: absolute;
  left: 147px;
  top: 660px;
  width: 195px;
  height: 53px;
  background-color: var(--secondary);
  border-radius: 25px;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
/* sec1^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
.sec2{
  position: absolute;
  top: 893px;
  left: 147px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 603px;
}
#sec2-title{
  color: white;
  font-family: Rubik;
  font-size: 31px;
}
#sec2-btn{
  width: 139px;
  height: 57px;
  border: none;
  border-radius: 10px;
  background-color: var(--primary-100);
  color: #fff;
  font-family: Rubik;
  font-size: 20px;
  font-weight: 500px;
  transition: ease 150ms;
}
.sec2-items{
  font-family: Rubik;
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 47px;
  position: absolute;
  top:1008px;
  left: 147px;
  border-radius: 20px;
  
}

.item-cp{
 padding-top: 25px;
  margin: auto;
  display: flex;
  flex-direction: row;
  gap:9px;
  width: 170px;
  
}
.item-cp p{
  font-size: 22px;
  font-weight: 500px;
  color: #fff;
}
.sec2-items li div:hover #cp-img{
  transform: scale(1.2);
 }

 .sec2-end{
  font-size: 35px;
  font-family: poppinsRegular;
  font-weight: 600;
  line-height: 65.63px;
  color: #fff;
  position: absolute;
  top:1480px;
  left: 307px;
  width: 826px;
  height: 132px;
  text-align: center;
 }
 /* sec2^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^  */
 .i1{
  position:absolute;
  top: 1679px;
  left: 147px;
  width: 545px;
  color: #fff;
  font-family: poppinsRegular;
 }
 #i1-title{

  font-size: 30px;
  font-weight: 600;
 }
 #i1-p{
  font-size: 16px;
  font-weight: 400;
 }
 #i2-spider{
  position: absolute;
  top: 1870px;
  left: 147px;
  border-radius: 5px;
  width: 1146px;
  height: 462px;
  z-index: 2;
 }
 #i2-dot{
  position: absolute;
  top: 1803px;
  left: 972px;
  color: rgba(220, 112, 0, 0.35);
  ;
 }
 /* sec3^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */


 


