@font-face {
    font-family: poppinsBold;
    src: url("..//assets/fonts/Poppins-Bold.ttf");
  }
  @font-face {
    font-family: poppinsRegular;
    src: url("..//assets/fonts/Poppins-Regular.ttf");
  }
  @font-face {
    font-family: Rubik;
    src: url("../assets/fonts/Rubik-Regular.ttf");
  }
  * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  body{
    width: 1440px;
    
  }
  :root {
    --black-700: #000;
    --blueGradiant: #3b2a9f;
    --primary-100: #5141aa;
    --secondary: #fa8305;
    --box_bg: #1c140f;
  }
  .all{
    width: 1440px;
    height: 4000px;
    background-color: var(--blueGradiant);
  }
  
  .elementOne {
  
    background-color: var(--black-700);
  }
  
  
  
  /* ------------------------------------------------------------------- */
  .header{
    background-color: var(--blueGradiant);
    color: white;
    width: 1440px;
    text-decoration: none;
    height: 100px;
    /* position: fixed; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 565.52px;
  
    
  
  }
  #logo{
    position: absolute;
    top: 25px;
    left: 59px;
    font-size: 29px;
    width: 82px;
    height: 45px;
    font-family: poppinsBold;
    
    }
  
  .navbar{
    position: absolute;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    gap: 88px;
    width: 505.41px;
    height: 24.2px;
    top:40px;
    left: 706.63px;
    list-style: none;
    font-family: poppinsRegular;
  }
  
  .nav-item{
    color: #fff;
    text-decoration: none;
    transition: 0.3s ease-in-out;
  }
  li a:active{
    text-decoration: underline;
  }
  li a:hover{
    font-size: 120%;
  }
  
  
  #nav-button{
    position: absolute;
    left: 1248.16px;
    top:32px;
    font-size: 16px;
    background-color: var(--secondary); 
    color: #ffffff; 
    width: 131.66px;
    height: 41.34px;
    padding: 12px 23px; 
    border: none; 
    
    border-radius: 6px; 
  
  }
  .rec-parent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3px;
    width: 38.97px;
  
  }
  #rec1{
    width: 30.97px;
    background-color: var(--secondary);
    height: 4px;
    border-radius: 3px;
  }
  #rec2{
    width: 5px;
    height: 4px;
    background-color: var(--secondary);
    border-radius: 50%;
  }
  /* header^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
  .sec1{
    font-family: poppinsRegular;
  }

  #sec1-title{
    font-size: 30px;
    color: #fff;
    line-height:54.15px;
    position: absolute;
    top:277px;
    left: 110px;
    width: 425px;
    height: 162px;
  }
  #sec1-p{
    font-size: 15px;
    color: #fff;
    font-weight: 400;
    line-height: 32px;
    position: absolute;
    top:464px;
    left: 110px;
    width: 414px;
  }  
  #sec1-btn{
    position: absolute;
    left: 110px;
    top: 616.16px;
    width: 176px;
    height: 47.84px;
    background-color: var(--secondary);
    border-radius: 40px;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }
  #img1{
    position: absolute;
    top: 121px;
    left: 701px;
  }
  #txt1{
    position: absolute;
    top: 214px;
    left: 110px;
    font-size: 12px;
    color: #fff;
  }
  #span2{
    margin-left: 8px;
  }
  #span3{
    color: var(--secondary);
  }
.item2{
    position: absolute;
    top: 921px;
    left: 110px;
    font-size: 25px;
    font-family: poppinsRegular;
    color: #fff;
    font-weight: 600;
}
  /* sec1^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
  .sec2{
    display: flex;
    flex-direction: row;
    gap: 43px;
    position: absolute;
    top: 1029px;
    left: 110px;
    right: 110px;
    font-family: poppinsRegular;
    margin-bottom: 147px;
  }
  .boxs{
    background-color: var(--box_bg);
    color: #fff;
    border-radius:20px ;
    width: 376px;
    height: 348px;

  }
 .boxs1{
  position: absolute;
  top: 64px;
  bottom: 64px;
 }
  .b{
    width: 140px;
    height: 39px;
    font-size: 14px;
    border-radius: 8px;
    margin: 0px 201px 19px 37px;
    padding: 7px 35px 6px 14px;
  }
  #n1{
    background-color:rgba(176, 0, 220, 0.11);
  }
  #n2{
    background: rgba(220, 66, 0, 0.11);

  }
  #n3{
    background: rgba(0, 220, 141, 0.11);
  }
  .p1{
    margin: 19px 171px 16px 37px;
    font-size: 20px;
    font-weight: 600;
  }
.p2{
  margin-left: 37px;
  font-size: 14px;
  font-weight: 400;
}
  /* sec2^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
.sec3-box{
  position: absolute;
  top: 1527px;
  display: flex;
  flex-direction: row;
  gap: 95px;
  color: #fff;
  width: 1440px;
  height: 603px;
  background-color: var(--box_bg);
  font-family: poppinsRegular;
}
#box-img{
  width: 496px;
  height: 490px;
  margin-top: 113px;
  margin-left: 110px;
}
.t3{
  width: 536px;
}
#sec3-t{
  font-size: 16px;
  margin-top: 134px;
  margin-bottom: 14px;
}
#sec3-p1{
  font-size: 28px;
  margin-bottom: 14px;
 font-weight: 600;
 line-height: 44.1px;
}
#sec3-p2{
  font-size: 16px;
  position: absolute;
  top: 344px;
  line-height: 32.4px;
}
/* sec3^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */